/*!
 * Footer content
 */

.footer {
  border-top: 3px solid $green;
  background: $white;
  color: $grey-dark;

  &-menu {

    &-title {
      font-size: 16px;
    }
  }

  & ul {
    list-style: none;
    padding-left: 0;

    & li {
      line-height: 16px;
      margin: 0 0 10px;

      @media screen and (max-width: 767px) {
        display: inline-block;
        margin-right: 5px;
        padding-left: 0;

        &:not(:last-child):after {
          padding-left: 10px;
          content: '|';
        }
      }
    }
  }

  & a {
    color: $grey-dark;

    &:hover {
      color: $green;
      text-decoration: none;
      border-bottom: 1px dashed $green;
    }
  }

  &-copyright {
    background: #f4f2f4;
  }
}
